
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  background: rgb(0,26,77);
  color: #fff;
}

.logo {
  font-size: 23px;
  font-weight: bold;
}

.logo span {
  color:red;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-size: 18px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}


.hero {
  height: 80vh;
  background: linear-gradient(to right, #00ccff, #0077ff);
  color: white;
  background-size:cover ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  padding: 11px 25px;
  background:rgb(0, 204, 255);
  font-weight: bold;
  border: none;
  border:1px solid black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
}

/* SERVICES */
.services {
  padding: 60px 30px;
  text-align: center;
}

.services h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  padding: 25px;
  background: #f4f4f4;
  border-radius: 10px;
  transition: transform 0.5s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 10px;
}

footer {
  background: #0a2540;
  color: white;
  padding: 20px;
  text-align: center;
}

.socials span {
  margin: 0 8px;
  font-size: 20px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #0a2540;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
}
